<div class = "container mx-auto">
    <div class = "row">
      <div class="p-3 mb-2 bg-light text-dark">新規会員登録</div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
    </div>      
          <div class = "row">
              <table class="table-bordeless">
                <tr>
                  <div class="form-row">
                      <div class="field">
                        <td>名前<%= f.label :（姓） %></td>
                        <td><%= f.text_field :last_name, autofocus: true %></td>
                      </div>
                      <div class="field">
                        <td><%= f.label :（姓） %></td>
                        <td><%= f.text_field :first_name, autofocus: true %></td>
                      </div>
                  </div>
                </tr>
                <tr>
                  <div class="form-row">
                      <div class="field">
                        <td>フリガナ<%= f.label :（セイ）%></td>
                        <td><%= f.text_field :last_name_kana, autofocus: true %></td>
                      </div>
                      <div class="field">
                        <td><%= f.label :（メイ） %></td>
                        <td><%= f.text_field :first_name_kana, autofocus: true %></td>
                      </div>
                  </div>
                </tr>
                <tr>
                  <div class="form-group">
                    <div class="col">
                        <div class="field">
                          <td><%= f.label :メールアドレス %></td>
                          <td><%= f.email_field :email, autofocus: true, autocomplete: "email"  %></td>
                        </div>
                    </div>
                  </div>
                </tr>
                <tr>
                  <div class="field">
                    <td><%= f.label :郵便番号 %></td>
                    <td><%= f.text_field :postcode, autofocus: true %></td>
                  </div>
                </tr>
                <tr>
                  <div class="field">
                    <td><%= f.label :住所 %></td>
                    <td colspan = "3"><%= f.text_field :address, autofocus: true, size:50 %></td>
                  </div>
                </tr>
                <tr>
                  <div class="field">
                    <td><%= f.label :電話番号 %></td>
                    <td><%= f.text_field :phone_number, autofocus: true %></td>
                  </div>
                </tr>
                <tr>
                  <div class="field">
                    <td>
                      <%= f.label :パスワード %>
                      <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> 文字以上)</em>
                        <% end %><br />
                    </td>
                    <td><%= f.password_field :password, autocomplete: "new-password" %></td>
                  </div>
                </tr>
                <tr>
                  <div class="field">
                    <td><%= f.label :パスワード確認用 %><br /></td>
                    <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
                  </div>
                </tr>
                <tr>
                  <div class="actions">
                    <td></td>
                    <td><%= f.submit "新規登録" ,class: 'btn btn-success col-md-6' %></td>
                  </div>
                </tr>
              </table>
            </div>
            <div class ="row">
              <div class="p-3 mb-2 bg-light text-dark">既に会員済みの方</div>
            </div>
            <div class ="row">
              <table>
                <tr>
                  <div class = login-form>
                    <td><%= render "devise/shared/links" %></td>
                    <td>からログインして下さい</td>
                  </div>
                </tr>
              </table>
            </div>
      <% end %>
</div>