<strong>ショッピングカート</strong>
<div class="button_cart_item">
  <%= link_to "カートを空にする", destroy_all_path(@cart_items), method: :delete, class:'btn btn-danger', "data-confirm" => "カート内商品を全て削除します。よろしいですか？" %>
</div>

<div class="form-group">
  <div class="col-sm-8">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="cell1">商品名</th>
          <th class="cell2">単価（税込）</th>
          <th class="cell3">数量</th>
          <th class="cell4">小計</th>
          <th class="cell5"></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |item| %>
        <tr>
          <td class="cell1"><%= attachment_image_tag item.item, :image, :fill, 80, 50, fallback: "22047646_s.jpg", size: "80x50" %><%= item.item.name %></td>
          <td class="cell2"><%= item.item.add_tax_non_taxed_price.to_s(:delimited) %></td>
          <td class="cell3">
            <%= form_with model: item, url: cart_item_path(item.id,value:1), local: true do |f| %>
			        <%= f.select :quantity, (1..20).map { |i| [i, i]} %>
			        <%= f.submit "変更", class: "btn btn-success" %>
			      <% end %>
          </td>
          <td class="cell4"><%= item.sum_of_price.to_s(:delimited) %></td>
          <td class="cell5">
            <div class="button_cart_item">
              <%= link_to '削除する', cart_item_path(item), method: :delete, class:'btn btn-danger' %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-2">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="cell6">合計金額</td>
          <td class="cell7"><%= @total_price.to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <%= link_to items_path do %>
    <p class="btn btn-primary">買い物を続ける</p>
  <% end %>
</div>

<div>
  <% if @cart_items.blank? %>
		<% else %>
		<div class="btn btn-success text-center">
		  <!--リンク先変更必須-->
			<%= link_to '情報入力に進む', cart_items_path, class:"btn btn-success" %>
		</div>
	<% end %>
</div>