<h2>注文情報確認</h2>
<%= form_with model:@order, url: customers_orders_path, local:true do |f| %>
<p>商品名</p>

<table>
    <tbody>
        <tr>
            <td>支払方法</td>
            <td><%= @order.payment_method %></td>
        </tr>
        <tr>
            <td>お届け先</td>
            <td>〒<%= @order.postcode %> <%= @order.address %><br/><%= @order.name %></td>
        </tr>
    </tbody>
</table>
<%= f.submit '投稿する' %>
<% end %>

