<div class = container >
  <h2>注文履歴詳細</h2>
  <div class = row>
    <div class = "col-md-6" >
      <h3>注文情報</h3>
      <table class = "table-borderd">
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>
            <%= @order.customer.postcode %>< /br>
            <%= @order.customer.address %>< /br>
            <%= @order.customer.last_name %><%= order.customer.first_name %>
          </td>
          <td>支払方法</td>
          <td><%= @order.payment_method %></td>
  ?       <td><%= @order.status %>?</td>
        </tr>
      </table>
    </div>
ここから、注文内容の表示（コメント）
      <h3>注文内容</h3>
      <table class = "table-borderd">
        <tr>
          <th>商品<th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
ここから注文商品テーブル？から注文商品を表示　each.do（コメント）
        <tr>
          <% @orders.order_items. each　do |order_item| %>
          <td>
            <% = @order_items.item_id.name %>
          </td>
          <td>
            <% = @order_items.item_id.non_taxed_price %>
          </td>
          <td>
            <% = @order_items.quantity %>
          </td>
          <td>
  ?          <% = 小計をだす　%>
        </tr>
      </table>
  </div>
  <div class = "col-md-6" >
    <div class = "row">
      <table class = "table-borderd">
        <tr>
          <td>商品合計</td>
          <td><%= @order.total_price %></td>
          <td>配送料金</td>
          <td><%= @order.shipping_cost %>
          <td>ご請求金額</td>
          <td><%= "@order.total_price".to_i + 800 </td>
        </tr>
      </table>
    </div>
  </div>
