<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column vh-100">
    <header class="border">
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <%= link_to root_path do %>
          <h1 class="title border navbar-brand pt-3 pb-3 pr-5 pl-5 text-dark" href="/">LOGO</h1>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <li class="btn btn-default border ml-4">
                <%= link_to "マイページ", customers_my_page_path, class: 'btn btn-default nav-link text-dark' %>
              </li>
              <li class="btn btn-default border ml-4">
                <%= link_to "商品一覧", items_path, class: 'btn btn-default nav-link text-dark' %>
              </li>
              <li class="btn btn-default border ml-4">
                <%= link_to "カート", cart_items_path, class: 'btn btn-default nav-link text-dark' %>
              </li>
              <li class="btn btn-default border ml-4">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-default nav-link text-dark' %>
              </li>

              <% elsif admin_signed_in? %>
              <li class="btn btn-default border ml-4">
                <%= link_to "商品一覧", admin_items_path, class: 'btn btn-default nav-link text-dark' %>
              </li>
              <li class="btn btn-default border ml-4">
                <%= link_to "会員一覧", admin_customers_path, class: 'btn btn-default nav-link text-dark' %>
              </li>
              <li class="btn btn-default border ml-4">
                <%= link_to "注文履歴一覧", admin_root_path, class: 'btn btn-default nav-link text-dark' %>
              </li>
              <li class="btn btn-default border ml-4">
                <%= link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-default nav-link text-dark' %>
              </li>
              <li class="btn btn-default border ml-4">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-default nav-link text-dark' %>
              </li>

            <% else %>
              <li class="btn btn-default border ml-4">
                <%= link_to "About", home_about_path, class: 'btn btn-default nav-link text-dark' %>
              </li>
              <li class="btn btn-default border ml-4">
                <%= link_to "商品一覧ページ", items_path, class: 'btn btn-default nav-link text-dark' %>
              </li>
              <li class="btn btn-default border ml-4">
                <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-default nav-link text-dark' %>
              </li>
              <li class="btn btn-default border ml-4">
                <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-default nav-link text-dark' %>
              </li>
              <li class="btn btn-default border ml-4">
                <%= link_to "管理者側ログイン（要削除）", new_admin_session_path, class: 'btn btn-default nav-link text-dark' %>
              </li>
            <% end %>
            </ul>
          </div>
        </nav>
          
        <div class="row mb-3">
          <div class="col-sm-9"></div>
          <div class="col-sm-3">
              <%= form_tag(items_path, :method => "get") do %>
                <%= text_field_tag :search %> 
                <%= button_tag :type => "submit", :name => nil,　class: "button is-info " do %> 
                <i class="fas fa-search"></i>
                <% end %>
              <% end %> 
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="mb-auto">
        <%= yield %>
      </div>
    </main>
    <footer class="border pt-3 pb-3">
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>フッティーツナマヨゲームズ(＾ω＾).inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>